<html>
	<head><title>Site for Technosfera-perl</title></head>
	<body>
		<a href="/register">Регистрация</a><br />
		<a href="/login">Авторизация</a><br />
		<a href="/mypage">Перейти в личный кабинет</a><br />
	</body>
</html>
