<html>
	<form method="post" action="/register_user">
	<title> Регистрация </title>
	<input name="login" type = "text" /><br/>
	<input name="pass" type="text" /><br/>
	<input type ='submit' value ='Register' />
</html>
